[article_scheduler]
article_scheduler_url = http://localhost:8001/schedule/v1/article_scheduled_status/
article_scheduler_publication_url = http://localhost:8001/schedule/v1/schedule_article_publication/
article_scheduler_range_url = http://localhost:8001/schedule/v1/article_schedule_for_range/from/<from>/to/<to>/

[django]
debug = true
allowed_hosts =
secret_key = FAKE-KEY-DO-NOT-USE-IN-PRODUCTION

[database]
name: dashboard.sqlite3
database =
engine: django.db.backends.sqlite3
host =
password =
port =
user =

[elife]
preview_base_url = https://foo.test.org/

[logging]
log_level =
log_file =

[sqs]
sqs_region = eu-west-1
event_monitor_queue = CHANGEME-event-property-incoming-queue
work_flow_starter_queue = CHANGEME-workflow-starter-queue
event_queue_pool_size = 5
event_queue_message_count = 5