[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.8"

[packages]
boto = "~=2.0"
psycopg2-binary = "~=2.8"
requests = "~=2.22"
# pinned, Flask depends on MarkupSafe (same guy/org), which removed a feature in a minor version.
# - https://github.com/pallets/flask/issues/4455
# - https://github.com/pallets/markupsafe/issues/286
Flask = "~=1.1"
MarkupSafe = "==2.0.1"
Flask-Cors = "~=3.0"
Flask-HTTPAuth = "~=3.3"
Flask-Session = "~=0.3"
# lsh@2022-03-30: redirects http->https. this should be the job of nginx. investigate.
Flask-SSLify = "~=0.1"
newrelic = "*"
uWSGI = "~=2.0"

[dev-packages]
pylint = "~=2.0"
pytest = "~=5.0"
autopep8 = "~=1.4"
