<div class="modal fade" id="version-reason-modal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="version-reason-modal">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Reason for new version</h4>
            </div>
            <div class="modal-body">
                <p>Enter date for version reason</p>
                <br/>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input id="version-reason-date" name="date" class="form-control datepicker version-reason-field" data-required type="text" placeholder="Date">
                    </div>
                </div>
                <br/>
                <br/>
                <p>Please enter the reason for the new version:</p>
                <br/>
                <div class="form-group clearfix">
                    <div class="col-sm-12">
                        <textarea id="version-reason-text" data-required class="form-control version-reason-field" name="version-reason-text" spellcheck="true"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="version-reason-close">Close</button>
                <button type="button" class="btn btn-primary has-spinner" id="version-reason-action">Submit</button>
            </div>
        </div>
    </div>
</div>
