{{#is response.result 'success'}}
    <div class="alert alert-success" id="success-message">
            <p class="message">Your version reason has been successfully submitted.</p>
    </div>
{{/is}}
