{% extends "layout.html" %}
{% block main %}
<header>
    <div class="logo">eLife Publishing Dashboard</div>
    <nav class="navbar navbar-elf">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#elf-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="elf-navbar">
            <ul class="nav navbar-nav">
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Monitoring <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="disabled">
                            <a href="#">Submission</a>
                        </li>
                        <li class="disabled">
                            <a href="#">Content Processing</a>
                        </li>
                        <li class="active">
                            <a href="/current">Publishing</a>
                        </li>
                    </ul>
                </li>
                <li class="disabled">
                    <a href="#">Reporting</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>

    <!--<ol class="breadcrumb">
        <li>Monitoring</li>
        <li>Publishing</li>
        <li>
            <a href="/current">Current</a>
        </li>
        &lt;!&ndash;<li>Item 10.7554/eLife.04640</li>&ndash;&gt;
    </ol>-->
</header>
<div id="page-errors"></div>
{% block nav %}{% endblock %}
{% block body %}{% endblock %}
{% endblock %}

