{{#if scheduleStatus.scheduled}}
    <p class="scheduled-for"><span class="text-muted">Scheduled for <em><strong>{{elFormatDate scheduleStatus.scheduled "fullHuman" }}</strong></em></span></p>
{{/if}}